{% extends "base_generic.html" %}

{% block content %}

    {% if form.errors %}
        <p>Login and password didn't match. Please try again.</p>
    {% endif %}
    

    {% if next %}

        {% if user.is_authenticated %}
            <p>Your account doesn't have access to see this page. Login with an account that has access. </p>
        {% else %}
            <p>Please logon to see this page.</p>
        {% endif %}

    {% endif %}


    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
        
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    
    </table>
    </form>
    
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost Password?</a></p>
    {# Page of registration #}
    <p><a href="{% url 'signup' %}">Registration</a></p>
    
{% endblock %}
